@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


/* 
- Mobile: 375px
- Desktop: 1440px
- Weights: 400, 700

*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

$border-check: 1px solid red;


html{
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
}

.qr{
  background-color: $dark-blue;
  width: 100%;
  height: 100vh;
  display: flex;
  
  .qr__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    overflow-x: hidden;

    .img__container{
      text-align: center;
      width: 250px;
      height: 250px;
      background-color: $white;
      
      .img__picture{
        width: 100%;
      }
    }

    .text__container{
      text-align: center;
      width: 220px;

      h2{
        color: $white;
      }

      input{
        margin-top: 15px;
        width: 100%;
        font-size: 20px;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 8px;

        &:focus{
          border: orange;
        }
      }
    }
    button{
      padding: 10px;
      border-radius: 8px;
      border: none;
      outline: none;
      cursor: pointer;
    }
  } 
}