@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


/* 
- Mobile: 375px
- Desktop: 1440px
- Weights: 400, 700

*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);


html{
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
}

body{
  background-color: $light-gray;
}



.qr__container{
  margin: 0 auto;
  margin-top: 50px;
  width: 300px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 5px 5px 8px 5px $grayish-blue;
  
  .img__container{
    text-align: center;
    margin-bottom: 15px;
    
    .img__picture{
      margin-top: 20px;  
      width: 90%;
      border-radius: 10px;
    }
  }

  .text__container{
    max-width: 85%;
    margin: 0 auto;
    padding-bottom: 50px;
    
    & > h2{
      text-align: center;
      font-weight: 700;
    }
    
    & > p{
      padding-top: 10px;
      text-align: center;
      
    }
  }
}