@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
--font-size-p: 15px;
--font-family: 'Outfit', sans-serif;
}

html{
  font-family: var(--font-family);
  font-size: var(--font-size-p);
}



/* 
- Mobile: 375px
- Desktop: 1440px
- Weights: 400, 700

*/